html {
  margin: 0;
}

.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
  border: solid black 0.2px;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#coral {
  background: coral;
}
#khaki {
  background: khaki;
}
#yellow {
  background: yellow;
}
